body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

aside {
	background-color: pink;
	width: 200px;
	height: 100%;
	overflow: hidden;
}

.main {
	background-color: skyblue;
	position: absolute;
	top: 0;
	margin-left: 200px;
	height: 100%;
}
