body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.contents {
	display: grid;
	grid-template-columns: 200px 1fr 300px;
}

.main {
	background-color: skyblue;
}

.main header {
	background-color: lightgray;
	height: 30px;
}

.left {
	background-color: pink;
}

.right {
	background-color: greenyellow;
}

footer {
	background-color: yellow;
	height: 50px;
}
