<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include headerLayout.ejs %>
    <p>rain</p>
    <p>Sun</p>
    <p>Ocean</p>
    <% include footerLayut.ejs %>
  </body>
</html>
