html
    head
        title Edit Item
    body
        form(method= post)
            fieldset
                legend Edit Item
                table
                    tr
                        td ID
                        td
                            - var id = result[0].id
                            input(type= 'text', name= 'id', value=id)
