* {
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    line-height: 1;
}

.desktop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 20px;
    border: 1px solid;
    width: 1280px;
    margin: 0 auto;
    height: 800px;
    position: relative;
}

.icon {
    flex: 0 0 auto;
    border: 1px solid;
    border-radius: 3px;
    background: grey;
    width: 50px;
    height: 50px;
    text-align:center;
}

.folder {
    flex: 0 0 auto;
    border: 1px solid;
    border-radius: 3px;
    background: skyblue;
    width: 50px;
    height: 50px;
}

.window {
    border: 1px solid;
    border-radius: 3px;
    width: 500px;
    height: 300px;
    position:absolute;
    top: 200px;
    left: 340px;
    background: white;
}

.title-bar {
    border-bottom: 1px solid;
    background: lightgrey;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}