* {
	/* TODO: 필요한 CSS를 채워넣어 보세요! */
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #24292e;
}

ul, li {
    list-style: none;
}

.wrapper {
    width: 900px;
    height: 100%;
    margin: 100px auto;
}

.notepad {
    position: relative;
    width: 900px;
    min-height: 500px;
    background-color: whitesmoke;
    border-radius: 3px;
}

.tab {
    background-color: pink;
}

.menu {
    display: flex;
    width: 892px;
    padding: 8px 0 8px 8px;
    background-color: darkseagreen;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

button {
    padding: 5px 8px;
    margin: 3px;
    font-size: 0.9em;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #f6f8fa;
    background-color: whitesmoke;
}